 dinesh
config.py

__pycache__/
*.pyc
.env
venv/
.env.local


.idea/
.vscode/


# Python
__pycache__/
*.pyc

# Local configuration
config.py
.env
.env.local
venv/

# Uploads
static/uploads/

# PDF files
*.pdf

# VS Code
.vscode/
.idea/

# Windows & macOS
 main
Thumbs.db
.DS_Store